Fundamentals


String:

In [33]:
## Fundamentals tutorial : https://www.w3schools.com/python/python_conditions.asp
##String
##Declaration/ Casting
x=int(1)
y=str("hello world")
print(y)
print(y[1])

##length
print(len(y))

##Slicing: from a to b(a,b excluded)
print(y[4:8])

##slicing from start to b (b exculed)
print(y[:4])

##slicing from a to end (a exculed)
print(y[4:])

##negative
print(y[-5:-1])

##String functionalities:
# y.upper()
# y.lower()
# y.strip() ## remove whitel spce
# y.replace()
# y.split(" ")
# y.format() ##insert numbers into string by replacing {} in string with numbers specified in ()

hello world
e
11
o wo
hell
o world
worl

Data Types - List, Dictonary, Set, Tuple, Range

In [56]:
##Data Types - List, Dictonary, Set, Tuple, range
##List - ordered, changable, allow duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(thislist))
print(thislist[2])
print(thislist[-1])
print(thislist[1:-1])
##thislist.insert(2, "watermelon")
thislist.append("orange") ##towards end of list
thislist.sort()
print(thislist)
thislist.sort(reverse=True)
print(thislist)


tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical) ##join different lists
thislist.remove("banana") ##remove by item
thislist.pop(1) ##remove by index
del thislist[0] ##remove by index
thislist.clear() ##clear list, empty list

5
cherry
cherry
['banana', 'cherry', 'apple']
['apple', 'apple', 'banana', 'cherry', 'cherry', 'orange']
['orange', 'cherry', 'cherry', 'banana', 'apple', 'apple']

In [58]:
##Tuple - unchangable and ordered, different datatypes, allow duplicates
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

##adding and removing from tuple is carried out by converting it into list, performing the action and converting back to tuple

3

In [59]:
##Sets- unordered, unchangable, no duplicates, any datatype
thisset = {"apple", "banana", "cherry"}
thisset1 = {"a", "b", "c"}
## no changes could be made on set, but adding, removing new items is possible.
thisset.update(thisset1) ##add sets
print(thisset)

set3 = thisset.union(thisset1)

{'a', 'b', 'apple', 'banana', 'cherry', 'c'}

In [64]:
##Dictonary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x=thisdict.get("model")
thisdict.keys()
thisdict.values()
thisdict.update({"year": 2020})

Dataframes

pandas.DataFrame( data, index, columns, dtype, copy) - constructor, for creating data frame

https://www.tutorialspoint.com/python_pandas/python_pandas_basic_functionality.htm

In [85]:
import pandas as pd
df = [['Alex',10],['Bob',12],['Clarke',13],['John',15]]
df = pd.DataFrame(df,columns=['Name','Age'], index=['a','b','c','d'])
print(df)

     Name  Age
a    Alex   10
b     Bob   12
c  Clarke   13
d    John   15

In [86]:
df['Name'] ##Column selection

a      Alex
b       Bob
c    Clarke
d      John
Name: Name, dtype: object

In [87]:
df['year']=pd.Series([1990,1991,1992,1993]) ##Column Addition

In [73]:
del df['year'] ##Column Deletion

     Name  Age  year
0    Alex   10  1990
1     Bob   12  1991
2  Clarke   13  1992

In [88]:
df.loc['b']  ##Row selection - row label

Name    Bob
Age      12
year    NaN
Name: b, dtype: object

In [81]:
df.iloc[1] ##Row selection - integer location

Name    Bob
Age      12
year    NaN
Name: b, dtype: object

In [90]:
print(df[1:3])

     Name  Age  year
b     Bob   12   NaN
c  Clarke   13   NaN

In [ ]:
Time series: https://www.dataquest.io/blog/tutorial-time-series-analysis-with-pandas/